<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Expenses</h1>
    {% if expenses %}
        <table border="1">
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Created at</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.content }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.date.strftime('%d/%m/%Y') }}</td>
                <td>{{ expense.created_at  }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No expenses recorded yet.</p>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>